*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  line-height: var(--line-height-body);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  transition: color 200ms;
}

li {
  list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-header);
  overflow-wrap: break-word;
  color: var(--font-color-primary);
}

a {
  color: var(--font-color-primary);
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--font-color-accent);
  }
}