<main class="container">
    <h1>Comments</h1>
    <%= render @comments %>

    <div class="post__btn-container">
        <%= link_to 'Comment', new_post_comment_path(@post), class: "btn" %>
    </div>
</main>