.user_profile {
    padding-top: var(--space-s);
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

.user_profile h1 {
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-heavy);
    font-size: var(--font-size-xl);
    
    padding-top: var(--space-m);
}