.user_profile {
    padding-top: var(--space-s);
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

.user_profile h1 {
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-heavy);
    font-size: var(--font-size-xl);
    
    padding-top: var(--space-m);
}

.user_profile_follows {
    display: flex;
    gap: var(--space-l);
    color: var(--font-color-secondary);
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-heavy);
    padding-top: var(--space-m);
}

.user_profile_follows:nth-last-child() {
    border-left: 1px solid red;
}