<div>
    <%= post.body %>
    <%= post.author.name %>
</div>

<% unless @user.nil? %>
    <% unless @user.liked_posts.include?(post) %>
        <%= button_to 'Like', like_post_path(post), method: :post %>
    <% end %>
<% end %>
