<main class="container">
    <%= render "posts/form", post: @post, user: @user %>
    <% @posts.each do |post| %>
        <% if post.author.followers.include?(@user) || post.author == @user%>
            <%= render post %>
        <% end %>
    <% end %>
</main>
