.navbar {
    background-color: var(--color-primary);
    height: var(--space-xxxl);
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-heavy);
    font-size: var(--font-size-m);
    display: flex;
    align-content: center;
    /* flex-grow: 1 1200px; */
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

nav > ul {
    max-width: 1200px;
    display: flex;
    gap: var(--space-l);
    justify-content: space-between;
}

