.navbar {
    background-color: var(--color-glint);
    height: var(--space-xxxl);
    font-weight: bold;
    font-size: var(--font-size-xl);
    display: flex;
    align-content: center;
    /* flex-grow: 1 1200px; */
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

nav > ul {
    max-width: 1200px;
    display: flex;
    gap: var(--space-l);
    justify-content: space-between;
}

