<section class="home_sidebar-left">
    <div class="home_sidebar-left-g1">
        <div class="home_sidebar-left-item">
            <i class="fa-solid fa-house fa-sm fa-pull-right"></i>
            <%= link_to 'Home', posts_path %>
        </div>
        <div class="home_sidebar-left-item">
            <i class="fa-solid fa-message fa-sm fa-pull-right"></i>
            <span>Messages</span>
        </div>
        <div class="home_sidebar-left-item">
            <i class="fa-solid fa-bookmark fa-sm fa-pull-right"></i>
            <span>Bookmarks</span>
        </div>
    </div>
    
    <div class="home_sidebar-left-g2">
        <div class="home_sidebar-left-item">
            <i class="fa-solid fa-bell fa-sm fa-pull-right"></i>
            <span>Notifications</span>
        </div>
        <div class="home_sidebar-left-item">
            <i class="fa-solid fa-bars fa-sm fa-pull-right"></i>
            <%= link_to 'Settings', edit_user_registration_path %>
        </div>
    </div>
    
    <div class="home_sidebar-left-g3">
        <div class="home_sidebar-left-item">
            <% if @user.profile_picture.attached? %>
                <%= image_tag user_profile_picture(@user, 50), class: "user_profile-picture" %>
            <% end %>
            <%= link_to @user.name, user_path(@user) %>
        </div>
    </div>
</section>