<section class="home_sidebar-right">
    <div class="subscription_card">
        <h1>Subscribe to premium</h1>
        <h2>Subscribe to unlock new features and if eligible, receive a share of revenue.</h2>
        <div class="subscription-btn">
            <a href="#" class="btn">Subscribe</a>
            <a href="#" class="btn">Explore</a>
        </div>
    </div>        

    <div class="home_sidebar-right-follow-suggestions subscription_card">
        <h1>Who to follow</h1>
        <%= render @users %>
    </div>
</section>